body {
  padding-top: 70px; }

.navbar-fixed-top .navbar-btn {
  margin-top: 13px; }

.container {
  max-width: 700px; }

.ip-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  text-align: center;
  border-top: 1px solid #e5e5e5; }

.post-page header {
  font-size: 52px;
  line-height: 1;
  margin-bottom: 20px; }

.post-page .post-body,
.qeditor_preview {
  line-height: 180%; }
  .post-page .post-body p,
  .qeditor_preview p {
    margin-bottom: 20px; }
  .post-page .post-body pre,
  .qeditor_preview pre {
    border: 0;
    font-family: Monaco,'Courier New','Courier',monospace;
    font-size: 16px;
    background: #f2f2f0;
    margin-bottom: 20px;
    padding: 20px; }
