body {
  padding-top: 70px; }

.navbar-fixed-top .navbar-btn {
  margin-top: 13px; }

.container {
  max-width: 700px; }

.qeditor_preview {
  height: 500px; }

.post-page header {
  font-size: 52px;
  line-height: 1;
  margin-bottom: 20px; }

.post-page .post-body,
.qeditor_preview {
  line-height: 180%; }
  .post-page .post-body p,
  .qeditor_preview p {
    margin-bottom: 20px; }
