body {
  padding-top:80px;
}

.navbar-fixed-top {
  .navbar-btn {
    margin-top: 10px;
  }
  
  .navbar-text {
    a { color:#fff; }
  }
}
.container { max-width:700px; }

.ip-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

/* Post list */
.post-item-meta {
}

.qeditor_preview { 
  height: 400px;
}

/* Post Page */
.post-page {
  header { font-size: 52px;line-height: 1; margin-bottom:20px; }
}
.post-infos {
  color:#bbb;
  margin-bottom:40px;
}
.post-page .post-body ,
.qeditor_preview {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
 
  p {
    margin-bottom:31px
  }
  
  hr { 
    display: block;
    width: 20%;
    margin: 50px auto 40px auto;
    border: 1px solid #dededc;
  }
  
  pre {
    border:0;
    font-family: Monaco,'Courier New','Courier',monospace;
    font-size: 16px;
    background: #f2f2f0;
    margin-bottom: 20px;
    padding: 20px;
  }
}