body {
  padding-top:70px;
}

.container { max-width:700px; }

.qeditor_preview { height:500px; }

.post-page header { font-size: 52px;line-height: 1; margin-bottom:20px; }
.post-page .post-body ,
.qeditor_preview {
  line-height:180%;
 
  p {
    margin-bottom:20px;
  }
}